@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-primary: #F2F4FA;
    --bg-secondary: #FBFBFD;
    --bg-third: #3C6DC5;
    --bg-fourth: rgb(121, 121, 121);
    --font-primary: #0B0D10;
    --font-secondary: #FBFBFD;
    --accent-color: #FF6347; /* Accent color for interactive elements */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--font-primary);
    font-family: inherit;
    margin: 7rem 0;

    a{
        text-decoration: none;
    }
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 100;
    text-align: center;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.top-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem;
    overflow: hidden;
    align-items: center;
    
    a{
        color: var(--font-primary);
        transition:  color 0.4s ease;
    }
    
    .nav-link-list{
        list-style-type: none;
        display: flex;
        gap: 2rem;
        /* padding: 0 0 2rem 0; */
    }

    .logo{
        /* font-weight: bolder; */
        height: 3rem;
    }
    .hamburger-menu{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        
        .burger-part{
            width: 19px;
            height: 2px;
            border-radius: 20px;
            background-color: var(--font-primary);
            transition: background-color 0.4s ease;
        }

        .burger-top-part{
            transform-origin: right center;
            transform: rotate(0deg);
            transition: transform 0.2s ease;
        } 
        .burger-middle-part{
            transition: transform 0.2s ease, opacity 0.2s ease;
        } 
        .burger-bottom-part{
            transform-origin: right center;
            transform: rotate(0deg);
            transition: transform 0.2s ease;
        }

        .burger-top-part.close{
            transform-origin: right center;
            transform: rotate(-45deg) translate(1px);
        }

        .burger-middle-part.close{
            opacity: 0;
        }

        .burger-bottom-part.close{
            transform-origin: right center;
            transform: rotate(45deg) translate(1px);
        }
    }
}

.breadcrumb-navigation-container{
    display: flex;
    align-items: center;
    font-size: 14px;

    a{
        color: var(--font-primary);
        text-decoration: underline;
    }
}

.breadcrumb-navigation-alignment{
    margin: auto;
    padding: 0 0 20px 0;
    width: 80%;
}

.more-information {
    margin: 0 auto 3rem auto;
    width: 80%;
}

.image-container{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 auto;
    animation: fadeInUp 0.5s ease-out forwards;

    .recipe-image{
        width: 100%;
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recipe-details{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto 2rem auto;
    width: 80%;
    text-align: left;

    .category{
        font-weight: 300;
    }

    .category-information{
        font-size: 20px;
    }

    .right-side{
        padding: 0 0 0 1.5rem;
        border-left: 0.5px solid rgba(0,0,0,0.5);
    }
}

.tabs{
    display: flex;
    margin: 3rem 0 0 0;
}

.tab-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: none;
    background-color: var(--bg-third);
    box-shadow: inset 0 -5px 10px -5px rgba(0,0,0,0.5), 0px -5px 10px -5px rgba(0,0,0,0.5);
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
    font-size: 16px;
}

.tab-button.active, .tab-button:focus {
    background: var(--bg-secondary);
    outline: none;
    color: var(--font-primary);
    box-shadow: inset 0px 0px, 0px -5px 10px -10px rgba(0,0,0,0.5);
}

.detail-container {
    background-color: var(--bg-secondary);
    padding: 2rem;
    border-radius: 0 1rem 1rem 1rem;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
    li{
        margin: 1rem;
    }
}

.title-caption-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto 2rem auto;
    width: 80%;

    h2{
        font-size: 25px;
    }
}

.back-button:hover, .back-button:focus {
    background-color: var(--accent-color);
    color: var(--bg-primary);
}

@media screen and (max-width: 749px) {   
    .back-button {
        /* Adjusting button size for smaller screens */
        padding: 0.4rem 0.8rem;
    }
    
    .breadcrumb-navigation-alignment {
        .breadcrumb-navigation-container{
            align-items: start;

            .material-icons{
                transform: translateY(-3px);
            }
        }


    }
    .top-nav {
        padding: 2rem 2rem 0rem 2rem;

        .logo{
            height: 2.5rem;
        }

        .nav-link-list{
            padding: 1rem 0;
            opacity: 0;
            max-height: 0px;
            flex-direction: column;
            width: 100%;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        }
        .nav-link-list.show{
            opacity: 1;
            max-height: 275px;
            padding: 1rem 0 2rem 0;
        }
    }

    header.show{
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    }

    .tab-button{
        font-size: 14px;
    }
}

@media screen and (max-width:500px){
    .tab-button{
        flex: 1
    }

    .detail-container{
        border-radius: 0 0 1rem 1rem;
    }

    .recipe-details{
        gap: 1rem;
        .category{
            font-size: 14px;
        }
    
        .category-information{
            font-size: 16px;
        }

        .right-side{
            padding: 0 0 0 1rem;
        }
    }
}

@media screen and (min-width: 750px) and (max-width: 1299px){
    .back-button {
        /* Larger padding for better desktop usability */
        padding: 0.5rem 1rem;
    }

    .top-nav {
        padding: 2rem 2rem 0rem 2rem;

        .logo{
            height: 2.5rem;
        }

        .nav-link-list{
            padding: 1rem 0;
            opacity: 0;
            max-height: 0px;
            flex-direction: column;
            width: 100%;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        }
        .nav-link-list.show{
            opacity: 1;
            max-height: 275px;
            padding: 1rem 0 2rem 0;
        }
    }

    .breadcrumb-navigation-alignment, .more-information, .title-caption-container, .image-container, .recipe-details, .top-nav{
        width: 656px;
    }

}
@media screen and (min-width: 1300px) {
    .back-button {
        /* Larger padding for better desktop usability */
        padding: 0.5rem 1rem;
    }

    .top-nav {
        width: 992px;
        .hamburger-menu{
            display: none;
        }
    }

    .breadcrumb-navigation-alignment, .more-information, .title-caption-container, .image-container, .recipe-details{
        width: 992px;
    }

}
