body{
    background-color: rgb(250, 218, 245);
}
nav{
    padding: 40px 0;
    background-color: rgb(87, 54, 80)
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover{
    color: rgb(155, 91, 91);
}


fieldset{
    width: 50%;
    margin: auto;
    padding: 50px;
    background-color: rgb(221, 201, 216);
    margin-top: 100px;
    border-radius: 20px;

}



.query{
    margin: 30px 0;
}

label.col, input.col-12{
    padding: 0;
}

.radioOption{
    padding-left: 20px;
    padding-right: 5px;
}

