body{
    background-color: antiquewhite;
}
header{
    padding: 40px 0;
    background-color:rgb(119, 95, 64);
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.7);
}

nav a:hover{
    color: rgb(63, 63, 63);
}

fieldset{
    margin: auto;
    padding: 50px;
    background-color: rgb(255, 248, 239);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
    max-width: 800px;
}

legend{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
    margin:0
}

.query{
    margin: 10px 0;
}

label.col-5, div.col-5, div.col-3, label.col-2, p.col-5, p.col-9{
    padding: 0;
}

.errorMessage{
    visibility: hidden;
    font-size: 12px;
    color:red;
}


input.col-2{
    margin-left: 30px;
}

.radiospacing{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 20px;
}

h1{
    font-size: 20px;
}

.checkboxSpacing{
    margin: 0;
}

.checkboxSpacing label{
    margin-left: 20px;
}

.submitResetSpacing{
    margin-top: 20px;
}

.spacingCheck{
    margin-top: 40px;
}

.errorBorder{
    border: 1px solid red;
}