nav{
    padding: 40px 0;
    background-color: rgb(240, 195, 236)
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav a:hover{
    color: rgb(155, 91, 91);
}

form{
    background-color: rgb(209, 187, 208);
}

fieldset{
    width: 50%;
    margin: auto;
    padding: 50px;

}

.query{
    margin: 20px 0;
}

label.col-5, input.col-12{
    padding: 0;
}

.radioOption{
    padding-left: 20px;
    padding-right: 5px;
}
