/* Basic resets */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header, footer {
    background-color: #f8f9fa;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#recipes-container {
    flex-basis: 70%;
    margin-right: 1em;
}

#recipe-list {
    flex-basis: 25%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
}

#recipe-list li {
    padding: 0.5em;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#recipe-list li:last-child {
    border-bottom: none;
}

#recipe-list li:hover {
    background-color: #f0f0f0;
}

.tabs {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.tabs button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs button:hover {
    background-color: #0056b3;
}

.tabs button:focus {
    outline: none;
}

#detail-container h3 {
    color: #007bff;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


