/* Mobile First CSS */
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    --bg-primary: #F2F4FA;
    --bg-secondary: #FBFBFD;
    --bg-third: #3C6DC5;
    --bg-fourth: rgb(121, 121, 121);
    --font-primary: #0B0D10;
    --font-secondary: #FBFBFD;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--bg-primary);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--font-primary);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 100;
    text-align: center;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.main {
    padding: 1em;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding: 1em; /* Added padding */
}

.recipe-card {
    flex-basis: 100%; /* Full width by default */
    margin-bottom: 1em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-secondary);
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.recipe-card-content {
    padding: 1em;
}

.recipe-card h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.recipe-card p {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.recipe-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.recipe-card a:hover {
    color: #0056b3;
}

/* Media Query for larger screens */
@media screen and (min-width: 768px) {
    .recipe-card {
        flex-basis: calc(50% - 0.5em); /* Two cards per row */
    }
}

@media screen and (min-width: 992px) {
    .recipe-card {
        flex-basis: calc(33.33% - 1em); /* Three cards per row */
    }
}
