/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up font */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Global colors */
:root {
    --bg-primary: #F2F4FA;
    --bg-secondary: #FBFBFD;
    --bg-third: #3C6DC5;
    --bg-fourth: rgb(121, 121, 121);
    --font-primary: #0B0D10;
    --font-secondary: #FBFBFD;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 100;
    text-align: center;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

/* Navigation */
.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem 2rem 0rem 2rem;
    overflow: hidden;
}

.top-nav a {
    color: var(--font-primary);
    text-decoration: none;
    transition: color 0.4s ease;
}

.nav-link-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 0 0 2rem 0;
}

.logo {
    font-weight: bolder;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
}

/* Search and Filter */
.search-filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0 1rem 0;
}

.introduction {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
}

.search-and-filter-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    max-height: 88px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--bg-secondary);
}

.search-bar-container {
    display: flex;
    gap: 1rem;
    width: 90%;
}

#search-bar {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--bg-secondary);
    text-overflow: ellipsis;
}

#search-bar::placeholder {
    font-size: 15px;
    font-style: italic;
}

.search-icon {
    cursor: pointer;
}

.filter-icon {
    width: auto;
    cursor: pointer;
}

/* Filter Section */
.filter-section {
    margin: auto;
    width: 80%;
    max-width: 600px;
    padding: 0 1rem;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
}

.filter-section-heading-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.close-filter {
    font-weight: bold;
    cursor: pointer;
}

.filter-section-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-secondary);
    margin: 0rem 1rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.filter-section-container.show {
    max-height: 25rem;
}

.filter-section-header {
    margin: 1.5rem 0 0 0;
}

.apply-filter {
    margin: 0 0 1.5rem 0;
    width: 7rem;
}

.filter-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
}

.filter-category-heading {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.filter-item {
    display: flex;
    gap: 0.5rem;
}

/* Cards */
.card-collection {
    margin: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    padding-top: 20px;
}

.card {
    width: 20rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    background-color: var(--bg-secondary);
}

.image-container {
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.image-styles {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.caption-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image_title {
    margin: 0 0 0.5rem 0;
    font-size: 25px;
    font-weight: 500;
}

p {
    font-weight: 300;
    color: var(--font-primary);
}

a {
    color: var(--font-primary);
}

.bottom-part-card {
    display: flex;
    margin: 0 2rem 1.4rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.food-category-container {
    background-color: var(--bg-third);
    color: var(--font-secondary);
    font-weight: 500;
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
}

.icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
    height: 1.3rem;
}

.icons .heart,
.icons .bookmark,
.icons .copy-button {
    align-self: flex-start;
    transition: transform 0.25s;
    cursor: pointer;
    color: var(--bg-fourth);
}

.heart:hover,
.bookmark:hover,
.copy-button:hover {
    transform: scale(1.1);
}

/* Breadcrumb Navigation */
.breadcrumb-navigation-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.breadcrumb-navigation-container a {
    color: var(--font-primary);
}

/* Recipe Catalogue */
.recipe-catalogue {
    width: 80%;
    margin: auto;
    font-size: 20px;
    padding: 0 0 4rem 0;
}

.recipe-catalogue a {
    text-decoration: underline;
    color: rgb(5, 32, 121);
}

/* No Selection */
.no-select {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/* Media Queries */
@media screen and (min-width: 750px) {
    body a {
        transition: opacity 0.3s ease;
    }

    body a:hover {
        opacity: 0.7;
    }

    .suggestion-section,
    .breakfast-section,
    .search-section,
    .top-nav,
    .recipe-catalogue {
        width: 672px;
    }

    .top-nav .hamburger-menu {
        display: none;
    }

    .filter-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.3rem;
    }

    .card:hover {
        box-shadow: 0 1px 5px 0 rgba(107, 105, 114, 0.4);
    }
}

@media screen and (max-width: 749px) {
    .filter-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3rem;
    }

    .top-nav .nav-link-list {
        padding: 1rem 0;
        opacity: 0;
        max-height: 0px;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .top-nav .nav-link-list.show {
        opacity: 1;
        max-height: 275px;
        padding: 1rem 0 2rem 0;
    }

    header.show {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    }
}
