@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
   
:root{
    font-family: 'Roboto';
    font-size: 16px;
    --bg-primary: rgb(194, 185, 176);
    --bg-secondary: #e7e1db;
    --bg-third: #201f1d; 
    --font-primary: #0B0C10;
    --font-secondary: #dadada;  
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-primary);
}

.card-container{
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease;
    background-color: var(--bg-secondary);
}



.image-container{
    height: 20rem;
    overflow: hidden;
    position:relative;
    
    .pizza-image{
        width: 100%;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
}

.caption-container{
    padding: 1rem 2rem;
    height: 9rem;
    
    .image_title{
        font-size: 25px;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }
    
    p{
        font-weight: 300;
        color: var(--font-primary);
    }
    
    a{
        color: var(--font-primary);
        text-decoration: none;
    }
}

.bottom-part-card{
    display: flex;
    margin: 0 2rem 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    
}

.food-category{
    background-color: var(--bg-primary);
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
}

.icons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 1.3rem;
    
    .heart, .bookmark, .share-button{
        align-self: flex-start;
        transition: transform 0.25s;
        cursor: pointer;
    }

    .heart{
        width: 1.8rem;
        transform: translateY(3px);
    }

    .bookmark{
        width: 1.19rem;
    }

    .share-button{
        width: 1.05rem;
        transform: translateY(-2.5px);
    }
}
 
.heart-container{
    display: flex;
    gap: 0.25rem;
    align-items: center;

}

.heart-number{
    font-weight: 300;
}

.heart-color{
    fill:var(--bg-secondary);
    stroke: black;
}


.bookmark-color{
    fill: var(--bg-secondary);
    stroke: black;
}

.hide-bg-content{
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 99;
}

.share-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    background-color: var(--bg-third);
    z-index: 100;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;

    .share-header{
        display: flex;
        margin: 2rem 3rem;
    }

    .share{
        color: var(--font-secondary);
        font-weight: 500;
        font-size: 20px;
        width: 100%;
    }

    .close-share{
        cursor: pointer;
    }

    .share-icons{
        display: flex;
        margin: 0 3rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .idividual-share{
        cursor: pointer;
        height: 3.125rem;
    }

    #email{
        height: 2.75rem;
    }

    .share-link-container{
        margin: 0 2.5rem 0 2.5rem;
        width:20rem;
        height: 2.5rem;
        background-color: var(--font-primary);
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .share-link{
        margin-left: 1rem;
        background-color: rgba(0,0,0,0);
        color: var(--font-secondary);
        opacity: 0.5;
        border: none;
        overflow: hidden;
        font-style: italic;
    }

    .copy-button{
        background-color: var(--font-secondary);
        margin: 0 1rem;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        font-weight: 500;
        cursor: pointer;
    }
}

.copied-clipboard{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem 2rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    margin: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 100;
}

@media screen and (min-width: 1367px){
    :root{
        font-size: 16px;
    }
    .card{
        transition: box-shadow 0.2s ease;
    }
    .bottom-part-card{
        margin: 0 2rem 1.2rem 2rem;
    }
    .card-container:hover .card{
        box-shadow: 0 0.3rem 0.6rem 0 rgba(107, 105, 114, 0.4);
    }

    .heart:hover{
        transform: scale(1.1) translateY(3px);
    }

    .bookmark:hover{
        transform: scale(1.1);
    }    

    .share-button:hover{
        transform: scale(1.1) translateY(-2.5px);
    }   
}

@media screen and (max-width: 1366px) and (min-width:534px){
    :root{
        font-size: 11px;
    }
    .card-row{
        gap: 2.5rem;
    }

    .bottom-part-card{
        margin: 0 2rem 1.5rem 2rem;
    }

    .card-container:hover .card{
        box-shadow: 0 0.3rem 0.6rem 0 rgba(107, 105, 114, 0.4);
    }


    .caption-container{
        height: 13rem;

        .image_title{
            font-size: 23px;
        }

        p{
            font-size: 15px;
        }
    }

    .heart-number{
        font-size: 14px;
    }

    .card-row{
        gap: 2.5rem;
    }

    .food-category{
        font-size: 13px;
    }
    .icons{
        height: 1.5rem;
        
        .heart{
            transform: translateY(2px);
            width: 2rem;
        }

        .bookmark{
            width: 1.3rem;
        }

        .share-button{
            width: 1.2rem;
            transform: translateY(-2px);
        }
    }

    .heart:hover{
        transform: scale(1.1) translateY(2px);
    }

    .bookmark:hover{
        transform: scale(1.1);
    }    

    .share-button:hover{
        transform: scale(1.1) translateY(-2px);
    }   
}

@media screen and (max-width:533px){
    :root{
        font-size: 8px;
    }



    .caption-container{
        height: 10rem;
        .image_title{
            font-size: 15px;
        }

        p{
            font-size: 12px;
        }
    }

    .heart-number{
        font-size: 10px;
    }

    .icons{
        height: 1.5rem;

        .heart{
            transform: translateY(2px);
            width: 2rem;
        }

        .bookmark{
            width: 1.3rem;
            transform: translateY(1px);
        }

        .share-button{
            width: 1.15rem;
            transform: translateY(0.3px);
        }
    }

    .card-row{
        gap:2.5rem;
    }
    
    .food-category{
        font-size: 10px;
    }
}
