@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    
:root{
    font-family: 'Roboto';
    font-size: 16px;
    --bg-primary: rgb(194, 185, 176);
    --bg-secondary: #e7e1db;
    --bg-third: #201f1d; 
    --font-primary: #0B0C10;
    --font-secondary: #dadada;  
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-primary);
}

.row-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}


.card{
    width: 20rem;
    height: 34rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.5);
    background-color: var(--bg-secondary);
    /* z-index: 100; */

}

.card-container{
    display: flex;
    align-items: center;
}


.image-container{
    height: 20rem;
    overflow: hidden;
    position:relative;
    
    .pizza-image{
        width: 100%;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
}

.caption-container{
    padding: 1rem 2rem;
    height: 10rem;
    
    figcaption{
        font-size: 25px;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    
    p{
        font-weight: 300;
        color: var(--font-primary);
    }
    
    a{
        color: var(--font-primary);
        text-decoration: none;
    }
}

.icons{
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 1.25rem;
    
    .heart, .bookmark, .share-button{
        align-self: flex-start;
        transition: transform 0.25s;
        cursor: pointer;
    }

    .heart{
        width: 1.8rem;
    }

    .bookmark{
        width: 1.19rem;
    }

    .share-button{
        width: 1rem;
    }
}
 
.heart-container{
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 20px;
}



.heart-number{
    font-size: 12px;
    font-weight: 300;
}

.heart-color{
    fill:var(--bg-secondary);
    stroke: black;
}


.bookmark-color{
    fill: var(--bg-secondary);
    stroke: black;
}

.share-button{
    transform: translateY(-2px);
}


.hide-bg-content{
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 99;
}

.share-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 15rem;
    background-color: var(--bg-third);
    z-index: 100;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    min-height: 170px;


    .share-header{
        display: flex;
        margin: 2rem 3rem;
    }

    .share{
        color: var(--font-secondary);
        font-weight: 500;
        font-size: 20px;
        width: 100%;
    }

    .close-share{
        cursor: pointer;
    }

    .share-icons{
        display: flex;
        margin: 0 3rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .idividual-share{
        cursor: pointer;
        height: 3.125rem;
    }

    #email{
        height: 2.75rem;
    }

    .share-link-container{
        margin: 0 2.5rem;
        width:20rem;
        height: 2.5rem;
        background-color: var(--font-primary);
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .share-link{
        margin-left: 1rem;
        background-color: rgba(0,0,0,0);
        color: var(--font-secondary);
        border: none;
        overflow: hidden;
    }

    .copy-button{
        background-color: var(--font-secondary);
        margin-right: 1rem;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        font-weight: 500;
        cursor: pointer;
    }
}

.copied-clipboard{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem 2rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    margin: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

@media screen and (min-width: 1250px){
    :root{
        font-size: 16px;
    }
    .card{
        transition: box-shadow 0.2s ease;
    }

    .card-container:hover .card{
        box-shadow: 0 0px 10px 10px rgba(165, 165, 165, 0.4);
    }

    .heart:hover, .bookmark:hover, .share-button:hover{
        transform: scale(1.25);
    }

    
}

@media screen and (max-width: 1250px) and (min-width:500px){
    :root{
        font-size: 13px;
    }
    .viewmodel{
        gap: 2.5rem;
    }

    .card{
        height: 30rem;
    }

    .caption-container{
        height: 5rem;
        figcaption{
            font-size: 23px;
        }

        p{
            visibility: hidden;
        }
    }

    .heart-number{
        font-size: 14px;
    }

    .heart{
        transform: translateY(3px);
    }
}

@media screen and (max-width:500px){
    :root{
        font-size: 10px;
    }

    .card{
        height: 30rem;
    }

    .caption-container{
        height: 5rem;
        figcaption{
            font-size: 20px;
        }

        p{
            visibility: hidden;
        }
    }

    .heart-number{
        font-size: 10px;
    }

    .heart{
        transform: translateY(3px);
    }
}