@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    
:root{
    font-family: 'Roboto';
    font-size: 16px;
    --bg-primary: #C2B9B0;
    --bg-secondary: #e7e1db;
    --bg-third: #35312c; 
    --font-primary: #0B0C10;
    --font-secondary: #dadada;  
}

*{
    margin: 0;
    padding: 0;
}

.viewmodel{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.pizza-image{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.image-container{
    height: 20rem;
    overflow: hidden;
    position:relative;
}
.card-container{
    display: flex;
    align-items: center;
}

.card{
    width: 20rem;
    height: 33rem;
    border-radius: 40px 0 0 0;
    overflow: hidden;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.5);
    background-color: var(--bg-secondary);
    /* z-index: 100; */
    transform: translateX(1.25rem);
    transition: transform 0.2s ease;
}

.card-container:hover .card{
    transform: translateX(0);
}

.card-link{
    text-decoration: none;
    color: inherit;
    
}

.caption-container{
    padding: 1rem 2rem;
    height: 9rem;
}

.caption-container figcaption{
    font-size: 25px;
    margin-bottom: 1rem;
    color: var(--font-primary);
}

.caption-container p{
    font-size: 14px;
    font-weight: 300;
    color: var(--font-primary);
}

.icons{
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 20px;
}

.heart-container{
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 20px;
}

.heart, .bookmark{
    align-self: flex-start;
}


.heart, .bookmark{
    transition: transform 0.25s;
    
}

.heart:hover, .bookmark:hover{
    transform: scale(1.25);
}

.heart-number{
    font-size: 12px;
    font-weight: 300;
}

.heart-color{
    fill:var(--bg-secondary);
    stroke: black;
}


.bookmark-color{
    fill: var(--bg-secondary);
    stroke: black;
}


.view-more{
    height: 3rem;
    width: 2.5rem;
    transform: translateX(-2.5rem);
    background-color: var(--bg-third);
    transition: transform 0.2s;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.card-container:hover .view-more{
    transform: translateX(0);
}

.arrow{
    height: 1.5rem;
    transform: rotate(0deg);
    fill: var(--font-secondary);
}

.hidden-content{
    position: absolute;
    height: 40rem;
    width: 0rem;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-third);
    transition: width 2s;
}